:root{
  --main-grad-blue:  rgba(0,210,218,1);
  --main-grad-light-blue:  rgba(0, 211, 218, 0.925);
  --main-grad-purple:  rgba(162,0,159,1);
  --main-grad-light-purple:  rgba(162, 0, 159, 0.7);
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #242424;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  rgb(56, 56, 56);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 80, 80);
  }