.slide {
    padding: 0px 15vw;
    overflow: hidden;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.text_wrapper{
    animation: slide-right 1.5s normal;
}

@keyframes slide-right {
    from {
      margin-left: -200vw;
    }
  
    to {
      margin-left: 0vw;
    }
}

.hi {
    width: fit-content;
    font-size: 5vw;
    font-weight: 600;

}

.title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2vw;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide-left 1.5s normal;
}

@keyframes slide-left {
    from {
      margin-right: -200vw;
    }
  
    to {
      margin-right: 0vw;
    }
}

.nav div {
    /* margin: 15px 0px; */
    font-weight: bold;
    font-size: 3vw;
}

.nav a:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px grey;
}

.nav a{
    background-color: rgb(46, 46, 46);
    transition: transform .2s linear;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    padding: 8px;
    margin: 10px 0px;
}
.nav a div{
    display: grid;
    grid-template-columns: auto 1fr;
}
.nav div i {
    color: white;
    text-align: center;
    margin-top: 5px;
    grid-column: 1;
}
.nav div span {
    font-weight: bold;
    text-align: center;
    grid-column: 2;
}


@media screen and (max-width: 600px) {
    .slide{
        padding: 0px 8vw;
    }
    .hi {
        font-size: 12vw;
    }

    .title {
        font-size: 6vw;
    }

    .home {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: var(--mobile-vh);
    }

    .nav div {
        font-size: 8vw;
    }
}