#projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#projects .project {
    width: 45%;
    background: red;
    margin: 40px 0px;
    box-shadow: 7px 7px 10px rgb(126, 126, 126);
    /* transition: all 0.2s linear; */
}

#projects .project:hover {
    transform: perspective(1000px) rotateY(10deg);
}

.project img {
    height: 20vw;
    width: 100%;
}

.project .description {
    font-size: 2vh;
}