
.icon-contact:before { content: '\e801'; } /* '' */
.icon-projects:before { content: '\f0eb'; } /* '' */
.icon-skills:before { content: '\f109'; } /* '' */
.icon-about:before { content: '\f2bc'; } /* '' */